#main {
    text-align: center;
}
#header-nav {
    text-align: center;
}
.category-btn{
    border: none;
    height: 50px;
    width: auto;
    margin-bottom: 3px;
}
.placeholder-items-img{
    max-width: 310px;
    width: 88%;
}
.popular-categories{
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
    max-width: 275px;
}
#login-form{
    padding-top: 10px;
}
#register-form{
    padding-top: 10px;
}
.category-titles{
    font-size: 20px;
    color: grey;
}
.sale-item{
    text-align: center;
    padding-top: 2%;
    word-break:break-all;
    width: auto;
    max-width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.carousel-inner{
    
    width: 100%;
    height: 360px !important;
}
.carousel-item {
}
#itemDetailCarousel {
    width: 100%;
    height: 300px;
}


@media only screen and (max-width: 991px){
    .sale-item{
        width: 100%;
        max-width: 100%;
        font-size: 14px;
    }
    
}